In [1]:
from cleaning_all_data import get_initial_data, get_heads, remove_extra_spaces, get_full_name, get_grades, get_school_and_details, get_details, get_school, join_data, join_all_data
from cleaning_columns import transform_fourth_column, transform_4_last_columns, cleaning_summary

# Mostrando Cada Funcion
Se tomara como ejemplo un solo url para ir viendo el paso
a paso de la transformacion de los datos

## Get Initial Data

In [2]:
url = "https://unitru.edu.pe/webfiles///Convocatoria/2023/3//73_DOC_CONVO_240320230530.txt"
initial_data = get_initial_data(url)
initial_data.head(13)

                                             raw_data
0                                                 ...
1    OF.DE TECNOLOG.DE LA INFOR.               EXA...
2          * AREA P.A.D.*                         ...
3                                                R...
4    =============================================...
5    OR-  CARNET      APELLIDOS  y  NOMBRES       ...
6    DEN                                          ...
7    =============================================...
8    0001 011373 CAMPOVERDE TERAN IDAM RICARDO    ...
9    0002 032565 LLANOS GRADOS ANDY JEYSON        ...
10   0003 020869 YUPANQUI AGUILAR VANERY BRIGITH  ...
11   0004 086632 GUZMAN CASTAÐEDA JIMENA BRIGIT   ...
12   0005 119118 FACCIO PAREDES KEILA SARA-       ...

## Get Heads

In [3]:
name_university,type_exam_and_place, third_row, fourth_row = get_heads(initial_data)
name_university

'UNIVERSIDAD NACIONAL DE TRUJILLO - UNT'

In [4]:
type_exam_and_place

'OF.DE TECNOLOG.DE LA INFOR. EXAMEN DE ADMISION ORDINARIO 2023-II - TRUJILLO Pag. 1'

In [5]:
third_row

'* AREA P.A.D.* AREA : A 24/03/2023'

In [6]:
fourth_row

'RESULTADOS GENERALES POR ESCUELA PROFESIONAL'

## Remove Extra Spaces

In [7]:
without_extra_spaces = remove_extra_spaces(initial_data)
without_extra_spaces.head(5)

0    0001 011373 CAMPOVERDE TERAN IDAM RICARDO 39.6...
1    0002 032565 LLANOS GRADOS ANDY JEYSON 57.993 4...
2    0003 020869 YUPANQUI AGUILAR VANERY BRIGITH 35...
3    0004 086632 GUZMAN CASTAÐEDA JIMENA BRIGIT 31....
4    0005 119118 FACCIO PAREDES KEILA SARA- 28.478 ...
Name: raw_data, dtype: object

## Get Full Name

In [8]:
full_name = get_full_name(without_extra_spaces)
full_name.head(5)

0       CAMPOVERDE TERAN IDAM RICARDO
1           LLANOS GRADOS ANDY JEYSON
2     YUPANQUI AGUILAR VANERY BRIGITH
3      GUZMAN CASTAÐEDA JIMENA BRIGIT
4          FACCIO PAREDES KEILA SARA-
Name: 0, dtype: object

## Get Grades

In [9]:
grades = get_grades(without_extra_spaces)
grades.head(5)

        0       1        2
0  39.681  74.433  114.114
1  57.993  49.964  107.957
2  35.605  59.138   94.743
3  31.535  59.138   90.673
4  28.478  57.086   85.564

## Get School and Details

In [10]:
school_and_details = get_school_and_details(without_extra_spaces)
school_and_details.head(5)

0    CCAS.BIOLOGICAS INGRESA 1
1    CCAS.BIOLOGICAS INGRESA 1
2    CCAS.BIOLOGICAS INGRESA 1
3    CCAS.BIOLOGICAS INGRESA 1
4    CCAS.BIOLOGICAS INGRESA 1
Name: 0, dtype: object

## Get Details

In [11]:
details = get_details(school_and_details)
details.head(5)

0    INGRESA
1    INGRESA
2    INGRESA
3    INGRESA
4    INGRESA
Name: 0, dtype: object

## Get School

In [12]:
school = get_school(school_and_details)
school.head(5)

0    CCAS.BIOLOGICAS
1    CCAS.BIOLOGICAS
2    CCAS.BIOLOGICAS
3    CCAS.BIOLOGICAS
4    CCAS.BIOLOGICAS
Name: 0, dtype: object

## Join Data

In [13]:
joined_data = join_data(full_name, grades, school, details, name_university, type_exam_and_place, third_row, fourth_row)
joined_data.head(5)

,nombres,result_1,result_2,total,escuela,observacion,universidad,tipo_y_lugar,third_row,fourth_row
0,CAMPOVERDE TERAN IDAM RICARDO,39.681,74.433,114.114,CCAS.BIOLOGICAS,INGRESA,UNIVERSIDAD NACIONAL DE TRUJILLO - UNT,OF.DE TECNOLOG.DE LA INFOR. EXAMEN DE ADMISION...,* AREA P.A.D.* AREA : A 24/03/2023,RESULTADOS GENERALES POR ESCUELA PROFESIONAL
1,LLANOS GRADOS ANDY JEYSON,57.993,49.964,107.957,CCAS.BIOLOGICAS,INGRESA,UNIVERSIDAD NACIONAL DE TRUJILLO - UNT,OF.DE TECNOLOG.DE LA INFOR. EXAMEN DE ADMISION...,* AREA P.A.D.* AREA : A 24/03/2023,RESULTADOS GENERALES POR ESCUELA PROFESIONAL
2,YUPANQUI AGUILAR VANERY BRIGITH,35.605,59.138,94.743,CCAS.BIOLOGICAS,INGRESA,UNIVERSIDAD NACIONAL DE TRUJILLO - UNT,OF.DE TECNOLOG.DE LA INFOR. EXAMEN DE ADMISION...,* AREA P.A.D.* AREA : A 24/03/2023,RESULTADOS GENERALES POR ESCUELA PROFESIONAL
3,GUZMAN CASTAÐEDA JIMENA BRIGIT,31.535,59.138,90.673,CCAS.BIOLOGICAS,INGRESA,UNIVERSIDAD NACIONAL DE TRUJILLO - UNT,OF.DE TECNOLOG.DE LA INFOR. EXAMEN DE ADMISION...,* AREA P.A.D.* AREA : A 24/03/2023,RESULTADOS GENERALES POR ESCUELA PROFESIONAL
4,FACCIO PAREDES KEILA SARA-,28.478,57.086,85.564,CCAS.BIOLOGICAS,INGRESA,UNIVERSIDAD NACIONAL DE TRUJILLO - UNT,OF.DE TECNOLOG.DE LA INFOR. EXAMEN DE ADMISION...,* AREA P.A.D.* AREA : A 24/03/2023,RESULTADOS GENERALES POR ESCUELA PROFESIONAL

## Join All Data

In [14]:
url_2 = "https://unitru.edu.pe/webfiles///Convocatoria/2023/9//87_DOC_CONVO_240920230904.txt"
urls = {
        'url_1': url,
        'url_2': url_2
}

final_result = join_all_data(urls)
final_result.head(3)

,nombres,result_1,result_2,total,escuela,observacion,universidad,tipo_y_lugar,third_row,fourth_row
0,CAMPOVERDE TERAN IDAM RICARDO,39.681,74.433,114.114,CCAS.BIOLOGICAS,INGRESA,UNIVERSIDAD NACIONAL DE TRUJILLO - UNT,OF.DE TECNOLOG.DE LA INFOR. EXAMEN DE ADMISION...,* AREA P.A.D.* AREA : A 24/03/2023,RESULTADOS GENERALES POR ESCUELA PROFESIONAL
1,LLANOS GRADOS ANDY JEYSON,57.993,49.964,107.957,CCAS.BIOLOGICAS,INGRESA,UNIVERSIDAD NACIONAL DE TRUJILLO - UNT,OF.DE TECNOLOG.DE LA INFOR. EXAMEN DE ADMISION...,* AREA P.A.D.* AREA : A 24/03/2023,RESULTADOS GENERALES POR ESCUELA PROFESIONAL
2,YUPANQUI AGUILAR VANERY BRIGITH,35.605,59.138,94.743,CCAS.BIOLOGICAS,INGRESA,UNIVERSIDAD NACIONAL DE TRUJILLO - UNT,OF.DE TECNOLOG.DE LA INFOR. EXAMEN DE ADMISION...,* AREA P.A.D.* AREA : A 24/03/2023,RESULTADOS GENERALES POR ESCUELA PROFESIONAL

In [17]:
summary = transform_4_last_columns(final_result)
summary.head(5)

,nombres,result_1,result_2,total,escuela,observacion,universidad,periodo,tipo_exam,tipo_postulante,sede,area
0,CAMPOVERDE TERAN IDAM RICARDO,39.681,74.433,114.114,CCAS.BIOLOGICAS,INGRESA,UNIVERSIDAD NACIONAL DE TRUJILLO - UNT,2023-II,ORDINARIO,NaN,TRUJILLO,A
1,LLANOS GRADOS ANDY JEYSON,57.993,49.964,107.957,CCAS.BIOLOGICAS,INGRESA,UNIVERSIDAD NACIONAL DE TRUJILLO - UNT,2023-II,ORDINARIO,NaN,TRUJILLO,A
2,YUPANQUI AGUILAR VANERY BRIGITH,35.605,59.138,94.743,CCAS.BIOLOGICAS,INGRESA,UNIVERSIDAD NACIONAL DE TRUJILLO - UNT,2023-II,ORDINARIO,NaN,TRUJILLO,A
3,GUZMAN CASTAÐEDA JIMENA BRIGIT,31.535,59.138,90.673,CCAS.BIOLOGICAS,INGRESA,UNIVERSIDAD NACIONAL DE TRUJILLO - UNT,2023-II,ORDINARIO,NaN,TRUJILLO,A
4,FACCIO PAREDES KEILA SARA-,28.478,57.086,85.564,CCAS.BIOLOGICAS,INGRESA,UNIVERSIDAD NACIONAL DE TRUJILLO - UNT,2023-II,ORDINARIO,NaN,TRUJILLO,A

In [16]:
summary = cleaning_summary(summary)
summary.tail(5)

,nombres,result_1,result_2,total,escuela,observacion,universidad,periodo,tipo_exam,tipo_postulante,sede,area
2946,RODRIGUEZ FRANCISCO ITALO JOSE,39.675,44.849,84.524,ED.SEC: HISTORIA,NO INGRESA,UNIVERSIDAD NACIONAL DE TRUJILLO - UNT,2024-I,ORDINARIO,QUINTO_GRADO,,B-C
2947,SABINO SALINAS ANALY MAYUMI,27.465,23.443,50.908,ED.SEC: HISTORIA,NO INGRESA,UNIVERSIDAD NACIONAL DE TRUJILLO - UNT,2024-I,ORDINARIO,QUINTO_GRADO,,B-C
2948,LAVADO VASQUEZ NICOLE STEPHANIE,35.605,9.154,44.759,ED.SEC: HISTORIA,NO INGRESA,UNIVERSIDAD NACIONAL DE TRUJILLO - UNT,2024-I,ORDINARIO,QUINTO_GRADO,,B-C
2949,TERRONES MENDOZA SOFIA EMPERATRIZ,14.242,27.522,41.764,ED.SEC: HISTORIA,NO INGRESA,UNIVERSIDAD NACIONAL DE TRUJILLO - UNT,2024-I,ORDINARIO,QUINTO_GRADO,,B-C
2950,LAZARO PANTA JOEL DAVID,10.166,30.570,40.736,ED.SEC: HISTORIA,NO INGRESA,UNIVERSIDAD NACIONAL DE TRUJILLO - UNT,2024-I,ORDINARIO,QUINTO_GRADO,,B-C